@import "common";
@import "fonts";

.input {
  display: flex;
  flex-direction: column;

  &__label {
    color: @grey-dark;
    font-family: @font-bold;
    margin-bottom: 10px;
    font-size: 1.6rem;
  }

  &__field {
    min-height: 32px;;
    border-radius: 3px;
    border: 1px solid @grey-border;
    padding: 5px 10px;
    font-size: 1.4rem;
    font-family: @font;
    color: @grey-dark;

    &::placeholder {
      color: @grey-light;
    }
  }
}
