@import "common";
@import "fonts";

.input {
  display: flex;
  flex-direction: column;
  position: relative;

  &__label {
    color: @grey-dark;
    font-family: @font-bold;
    margin-bottom: 10px;
    font-size: 1.6rem;
  }

  &__field {
    min-height: 32px;;
    border-radius: 3px;
    border: 1px solid @grey-border;
    padding: 5px 10px;
    font-size: 1.4rem;
    font-family: @font;
    color: @grey-dark;

    &::placeholder {
      color: @grey-light;
    }

    &--search {
      padding-left: 32px;
    }
  }

  &__icon {
    position: absolute;
    height: 100%;
    padding: 5px;

    & svg {
      fill: @grey;
      height: 100%;
      top: 0 !important;
      bottom: 0;
    }
  }
}
