<div class="page-header">
  <div class="page-header__content">
    <div class="page-header__control">
      <h1 class="page-header__control__label">
        Find or add Angular courses...
      </h1>
      <div class="page-header__control__elements">
        <input
          class="page-header__control__search-input"
          title="Search course"
          type="text"
          (input)="onSearch($event.target.value)"
          placeholder="Search by name, description or author"
        />
        <button>+ Add course</button>
      </div>
    </div>
  </div>
</div>
