@import 'common';

.fixed-bar() {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  background-color: @white-transparent;
}

.page-size() {
  margin: 0 auto;
  max-width: @max-content-width;
  padding: 0 20px;
}

.gradient-background() {
  background: rgba(255, 160, 61, 0.71);
  background: linear-gradient(to right, rgba(246, 101, 126, 0.8) 0%, rgba(255, 160, 61, 0.85) 100%);
}
