<div class="page-header">
  <div class="page-header__content">
    <div class="page-header__control">
      <h1 class="page-header__control__label">
        Find or add Angular courses...
      </h1>
      <div class="page-header__control__elements">
        <app-input
          type="search"
          placeholder="Search by name, description or author"
          className="page-header__control__search-input"
          [onInput]="onSearchHandler"
        >
        </app-input>
        <app-button
          className="page-header__control__button"
          [settings]="{bgColor: 'transparent'}"
          text="Add course"
          [icon]="iconType.Plus"
          [onClick]="openModal"
        ></app-button>
      </div>
    </div>
  </div>
</div>
