<div class="login-form">
  <h1 class="login-form__header">Login</h1>
  <app-button
    [text]="'EPAM Login'"
    [settings]="{textColor: 'blue', bold: true}"
    className="login-form__element"
  ></app-button>
  <div class="login-form__element login-form__divider">
    <span class="login-form__divider__text">or</span>
  </div>
  <app-input
    placeholder="Email or login"
    [model]="form"
    field="email"
    className="login-form__element"
  ></app-input>
  <app-input
    placeholder="Password"
    [model]="form"
    field="password"
    type="password"
    className="login-form__element"
    [onKeyDown]="onSubmit"
  ></app-input>
  <app-button
    [onClick]="onSubmit"
    [text]="'Login'"
    [settings]="{bgColor: 'green', bold: true}"
    className="login-form__element"
  ></app-button>
</div>
