<div class="login-form">
  <h1 class="login-form__header">Login</h1>
  <app-button
    [text]="'EPAM Login'"
    [settings]="{textColor: 'blue', bold: true}"
    className="login-form__element"
  ></app-button>
  <div class="login-form__element login-form__divider">
    <span class="login-form__divider__text">or</span>
  </div>
  <app-button
    [onClick]="onLogin"
    text="Auth0 Login"
    [settings]="{bgColor: 'orange', bold: true}"
    className="login-form__element"
  ></app-button>
</div>
