<app-modal [header]="getHeader()" (submit)="onSubmit($event)">
  <form class="editor__grid">
    <app-input
      label="Title"
      placeholder="Enter a name of course"
      [model]="form"
      field="caption"
    ></app-input>
    <app-input
      label="Description"
      type="textarea"
      className="editor__textarea"
      placeholder="Please enter a more detail about course"
      [model]="form"
      field="description"
    ></app-input>
    <app-input
      label="Date"
      type="date"
      placeholder="Date"
      [model]="form"
      field="date"
    ></app-input>
    <app-input
      label="Duration"
      type="number"
      placeholder="Minutes"
      [model]="form"
      field="duration"
    ></app-input>
    <app-input
      label="Authors"
      placeholder="Enter authors separated by ';'"
      [model]="form"
      field="authors"
    ></app-input>
  </form>
</app-modal>
