@import 'common';
@import 'fonts';

.logo {
  display: flex;
  align-items: center;

  &__image {
    height: 30px;
    width: 30px;
  }

  &__caption {
    margin-left: -2px;
    font-family: @font;
    color: @white;
    font-size: 2rem;
  }
}
